{% extends "base.html" %}
{% load i18n %}
{% block head_title %} {% trans "Sensor: " %}{{ sensor.get_measure_type_display }} {% trans " of node " %}{{ sensor.node }}{% endblock head_title %}
{% block main_content %}
	<div class="container">
		<div class="row">
			<div class="sixteen columns">
				<h2 class="section_title">
					<span>
						<img class="title_icon" src="{{ MEDIA_URL }}img/icons/sensor.png" alt="stations">
						{% trans "Sensor: " %}{{ sensor.get_measure_type_display }}
					</span>
					<span class="button_place">
						<a  class="edit_button btn" href="{% url sensor_edit sensor.pk %}">
							<img src="{{ MEDIA_URL }}img/icons/edit.png" alt="{% trans "Edit Station" %}">
							{% trans "Edit" %}
						</a>
					</span>
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="one-third column">&nbsp;</div>
			<div class="one-third column">
				<table class="object_detail">
					<tr>
						<td class="title">{% trans "Brand" %}:</td>
						<td class="value">{{ sensor.brand|default:"---" }}</td>
					</tr>
					<tr>
						<td class="title">{% trans "Model" %}:</td>
						<td class="value">{{ sensor.model|default:"---" }}</td>
					</tr>
					<tr>
						<td class="title">{% trans "Node" %}:</td>
						<td class="value"><a href="{% url node sensor.node.pk %} ">{{ sensor.node }}</a></td>
					</tr>
					<tr>
						<td class="title">{% trans "Measure Type" %}:</td>
						<td class="value">{{ sensor.get_measure_type_display }}</a></td>
					</tr>
					<tr>
						<td class="title">{% trans "Signal Type" %}:</td>
						<td class="value">{{ sensor.get_signal_type_display }}</a></td>
					</tr>
				</table>
		    </div>
		    <div class="one-third column">&nbsp;</div>
		</div>
	</div>
{% endblock main_content %}