{% extends "base.html" %}
{% load i18n %}
{% block head_title %} {% trans "Sensors" %} {% endblock head_title %}
{% block main_content %}
<div class="container">
	<div class="row">
		<div class="sixteen columns">
			<h2 class="section_title">
				<span>
					<img class="title_icon" src="{{ MEDIA_URL }}img/icons/sensor.png" alt="sensors">
					{% trans "Sensors" %}:
				</span>
				<span class="button_place">
					<a  class="add_button btn" href="{% url sensor_add %}">
						<img src="{{ MEDIA_URL }}img/icons/add.png" alt="{% trans "Add Sensors" %}">
						{% trans "Add Sensors" %}
					</a>
				</span>
			</h2>
		</div>
		<div class="sixteen columns">
			<table class="list_display">
				<tr>
					<th>&nbsp;</th>
					<th>{% trans "brand" %}:</th>
					<th>{% trans "model" %}:</th>
					<th>{% trans "node" %}:</th>
					<th>{% trans "measure type" %}:</th>
					<th>{% trans "signal type" %}:</th>
					<th><small>{% trans "view" %}</small></th>
					<th><small>{% trans "edit" %}</small></th>
				</tr>
			    {% for sensor in sensors %}
			    	<tr>
			    		<td class="right_arrow">&nbsp;</td>
			    		<td><a href="{% url sensor sensor.pk %}">{{ sensor.brand|default:"---" }}</a></td>
			    		<td><a href="{% url sensor sensor.pk %}">{{ sensor.model|default:"---" }}</a></td>
			    		<td><a href="{% url node sensor.node.pk %}">{{ sensor.node }}</a></td>
			    		<td>{{ sensor.get_measure_type_display }}</td>
			    		<td>{{ sensor.get_signal_type_display }}</td>
			    		<td class="view">
			    			<a href="{% url sensor sensor.pk %}">
			    				<img src="{{ MEDIA_URL }}img/icons/right_arrow_16x16.png" alt="{% trans 'view' %}">
			    			</a>
			    		</td>
			    		<td class="edit">
			    			<a href="{% url sensor_edit sensor.pk %}">
			    				<img src="{{ MEDIA_URL }}img/icons/edit_16x16.png" alt="{% trans 'edit' %}">
				    		</a>
				    	</td>
			    	</tr>
			    {% empty %}
			    	<tr class="empty_msg">
			    		<td colspan="5">
			    			<p>{% trans "The list of sensors is empty" %}</p>
			    		</td>
			    	</tr>
			    {% endfor %}
			</table>
			<hr>
			{% include "includes/paginator.html" %}
		</div>
	</div>
</div>

{% endblock main_content %}