/* ------  BACKGROUNDS ------- */

#footer_container { background-color: #343434; }
#footer_container * { color: #FBFBFB; }	
.container { background-color: #FBFBFB; }

/* ------  HEADER ------- */
#top_header { background-color:  #2A2A2A; padding-top: 5px; }
#top_header a:hover { background-color: #424242; color: white;}
.nav_item { display: inline; }
.nav_item a { color: #EBEBEB; display: inline-block; font-weight: bold; letter-spacing: 0.08em; line-height: 20px; padding: 0 5px; text-decoration: none; text-transform: uppercase; border-top: 2px solid #2A2A2A; }
.nav_selected { color: #FFD027 !important; border-top: 2px solid #FFD027 !important; }
#login a{ color: #EBEBEB; letter-spacing: 0.03em; line-height: 10px; padding: 0 5px; text-decoration: none; text-transform: lowercase;}
#login ul li { display: inline; }
#logo a { text-transform: uppercase; text-decoration: none; line-height: 10px; }
#logo_dot { color: #FFD027; }
#logo_dot:hover { color: #2A2A2A; }
/* ------- HOME -------- */
.icon_wrapper { text-align: center; border-top: 1px solid transparent;}
.icon img{ display: block; margin: 0 auto; }
.icon { text-decoration: none; }
.icon_wrapper:hover { border-top: 1px dashed #999; border-bottom: 1px dashed #999;}
/* ------- SECTIONS ------ */
.section_title { background: url("../img/backgrounds/diagonal_pale.png") repeat scroll 0 0 transparent;}
.section_title span { background-color: #F8F8F8; letter-spacing: 0.1em; line-height: 14px; margin: 0 0 0 14px; padding: 0 10px; color: #999999; }
.section_title span .title_icon { height: 32px; vertical-align: top; width: 32px;}
.section_title .button_place { float: right; background-color:  #F8F8F8; font-size: 16px; margin: 0 10px 0 0; }
.section_title img { height: 40px; width: 40px; vertical-align: middle; }
.section_title .btn { color: #2C2C2C; text-decoration: none; }
.section_title .btn:hover { color: #999999; text-decoration: underline; }

/* ------- PAGINATION ------- */
.pagination ul { margin: 21px 0 35px; text-align: center; width: 100%;}
.pagination li { display: inline; line-height: 21px; margin-bottom: 14px; }
.pagination li a { border-bottom: 3px solid #CCCCCC; display: inline-block; font-weight: bold; height: 35px; line-height: 35px; padding: 0 7px; text-align: center; text-decoration: none; width: 35px; }
.pagination li a:hover, .pagination li a.selected { background: url("../img/backgrounds/bg_dark.png") repeat scroll 0 0 transparent; border: medium none; color: #FFFFFF; }

/* ------ LIST DISPLAY ------- */
.list_display { width: 100%; font-size: 16px; margin-top: 20px; }
.list_display a { text-decoration: none;}
.list_display a:hover { text-decoration: underline;}
.list_display tr:hover{ background-color: #E1E1E1;}
.list_display td { height: 20px; }
.list_display th { text-align: left; font-size: 18px; text-transform: capitalize; text-decoration: bold; background-color: #2A2A2A; color: #EBEBEB; padding: 5px 0; }
.list_display .right_arrow { background: url("../img/icons/right_16x16.png") no-repeat scroll left center transparent; width: 20px;}
.list_display .view, .list_display .edit { width: 45px; }
.empty_msg { text-align: center; }
/* ------ DETAIL ------- */
.object_detail {
	width: 100%
}
.object_detail .title {
	text-decoration: bold;
	font-size: 16px;
	background-color: #2A2A2A;
	color: #EBEBEB;
	text-align: left;
	padding: 10px;
	width: 90px;
}
.object_detail .value {
	text-decoration: bold;
	background-color: #cacaca;
	color: #333333;
	text-align: center;
}
.object_detail .value a {
	text-decoration: none;
}
.object_detail .value a:hover {
	text-decoration: underline;
}
.object_detail tr {
	font-size: 14px;
	border-bottom: 1px dotted #dadada;
	height: 15px;
} 
/* ------ FORMS ------- */
.generic-form .errorlist { background-color: #FFD027; color: #FFFFFF; padding-left: 10px; }
.generic-form input, .generic-form select { width: 100%; }
.generic-form input { padding: 6px 0; }
