{% extends "base.html" %}
{% load i18n %}
{% block main_content %}
<div class="container">
	<div class="row">
		<div class="one-third column">&nbsp;</div>
		<div class="one-third column">
			<p style="text-align:center;">
				<img src="{{ MEDIA_URL }}img/icons/user.png" alt="{% trans 'User logged out' %}">
			</p>
			<p>
				<h4 style="text-align:center;">{% trans "You're logged out" %}</h4>
			</p>
			<p>
				<a class="button full-width" href="{% url login %}">{% trans "Login back" %}</a>
			</p>
	    </div>
	    <div class="one-third column">&nbsp;</div>
	</div>
</div>
{% endblock %}