{% extends "base.html" %}
{% load i18n %}
{% block main_content %}
<div class="container">
	<div class="row">
		<div class="one-third column">&nbsp;</div>
		<div class="one-third column">
			<p style="text-align:center;">
				<img src="{{ MEDIA_URL }}img/icons/user.png" alt="{% trans 'Please log in' %}">
			</p>

			{% if form.errors %}
				<p>Your username and password didn't match. Please try again.</p>
			{% endif %}

			<form class="generic-form" method="post" action=".">
				{% csrf_token %}
				{{ form.non_field_errors }}

				{{ form }}

				<input type="submit" value="login" />
				<input type="hidden" name="next" value="{{ next }}" />
			</form>

	    </div>
	    <div class="one-third column">&nbsp;</div>
	</div>
</div>
{% endblock %}