{% extends "base.html" %}
{% load i18n %}
{% block head_title %} {% trans "Measure: " %}{{ measure.get_unit_display }}{% endblock head_title %}
{% block main_content %}
	<div class="container">
		<div class="row">
			<div class="sixteen columns">
				<h2 class="section_title">
					<span>
						<img class="title_icon" src="{{ MEDIA_URL }}img/icons/measure.png" alt="measures">
						{% trans "Measure" %}: <em>{{ measure.timestamp }}</em>
					</span>
					<span class="button_place">
						<a  class="edit_button btn" href="{% url measure_edit measure.pk %}">
							<img src="{{ MEDIA_URL }}img/icons/edit.png" alt="{% trans "Edit Measure" %}">
							{% trans "Edit" %}
						</a>
					</span>
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="one-third column">&nbsp;</div>
			<div class="one-third column">
				<table class="object_detail">
					<tr>
						<td class="title">{% trans "sensor" %}:</td>
						<td class="value"><a href="{% url sensor measure.sensor.pk %} ">{{ measure.sensor }}</a></td>
					</tr>
					<tr>
						<td class="title">{% trans "Timestamp" %}:</td>
						<td class="value">{{ measure.timestamp }}</td>
					</tr>
					<tr>
						<td class="title">{% trans "Value" %}:</td>
						<td class="value">{{ measure.value }}</td>
					</tr>
					<tr>
						<td class="title">{% trans "Unit" %}:</td>
						<td class="value">{{ measure.get_unit_display }}</td>
					</tr>
				</table>
		    </div>
		    <div class="one-third column">&nbsp;</div>
		</div>
	</div>
{% endblock main_content %}