{% extends "base.html" %}
{% load i18n %}
{% block head_title %} {% trans "Edit Measure" %} {% endblock head_title %}
{% block main_content %}
	<div class="container">
		<div class="row">
			<h2 class="section_title">
				<span>
					<img class="title_icon" src="{{ MEDIA_URL }}img/icons/measure.png" alt="measures">
					{% trans "Edit measure" %}:
				</span>
			</h2>
		</div>
		<div class="row">
			<div class="one-third column">&nbsp;</div>
			<div class="one-third column">
				{% include "includes/generic_form.html" %}
		    </div>
		    <div class="one-third column">&nbsp;</div>
		</div>
	</div>
{% endblock main_content %}