{% extends "base.html" %}
{% load i18n %}
{% block head_title %} {% trans "Measure" %} {% endblock head_title %}
{% block main_content %}
<div class="container">
	<div class="row">
		<div class="sixteen columns">
			<h2 class="section_title">
				<span>
					<img class="title_icon" src="{{ MEDIA_URL }}img/icons/measure.png" alt="measures">
					{% trans "Measures" %}:
				</span>
				<span class="button_place">
					<a  class="add_button btn" href="{% url measure_add %}">
						<img src="{{ MEDIA_URL }}img/icons/add.png" alt="{% trans "Add Measure" %}">
						{% trans "Add Measure" %}
					</a>
				</span>
			</h2>
		</div>
		<div class="sixteen columns">
			<table class="list_display">
				<tr>
					<th>&nbsp;</th>
					<th>{% trans "sensor" %}:</th>
					<th>{% trans "timestamp" %}:</th>
					<th>{% trans "value" %}:</th>
					<th>{% trans "unit" %}:</th>
					<th><small>{% trans "view" %}</small></th>
					<th><small>{% trans "edit" %}</small></th>
				</tr>
			    {% for measure in measures %}
			    	<tr>
			    		<td class="right_arrow">&nbsp;</td>
			    		<td><a href="{% url measure measure.pk %}">{{ measure.sensor }}</a></td>
			    		<td><a href="{% url measure measure.pk %}">{{ measure.timestamp }}</a></td>
			    		<td>{{ measure.value }}</td>
			    		<td>{{ measure.get_unit_display }}</td>
			    		<td class="view">
			    			<a href="{% url measure measure.pk %}">
			    				<img src="{{ MEDIA_URL }}img/icons/right_arrow_16x16.png" alt="{% trans 'view' %}">
			    			</a>
			    		</td>
			    		<td class="edit">
			    			<a href="{% url measure_edit measure.pk %}">
			    				<img src="{{ MEDIA_URL }}img/icons/edit_16x16.png" alt="{% trans 'edit' %}">
				    		</a>
				    	</td>
			    	</tr>
			    {% empty %}
			    	<tr class="empty_msg">
			    		<td colspan="7">
			    			<p>{% trans "The list of measures is empty" %}</p>
			    		</td>
			    	</tr>
			    {% endfor %}
			</table>
			<hr>
			{% include "includes/paginator.html" %}
		</div>
	</div>
</div>

{% endblock main_content %}