{% extends "base.html" %}
{% load i18n %}
{% block head_title %} {% trans "Node: " %}{{ node.name }}{% endblock head_title %}
{% block main_content %}
	<div class="container">
		<div class="row">
			<div class="sixteen columns">
				<h2 class="section_title">
					<span>
						<img class="title_icon" src="{{ MEDIA_URL }}img/icons/node.png" alt="node">
						{% trans "Node" %}: <em>{{ node.name }}</em>
					</span>
					<span class="button_place">
						<a  class="edit_button btn" href="{% url node_edit node.pk %}">
							<img src="{{ MEDIA_URL }}img/icons/edit.png" alt="{% trans "Edit Station" %}">
							{% trans "Edit" %}
						</a>
					</span>
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="one-third column">&nbsp;</div>
			<div class="one-third column">
				<table class="object_detail">
					<tr>
						<td class="title">{% trans "Name" %}:</td>
						<td class="value">{{ node.name }}</td>
					</tr>
					<tr>
						<td class="title">{% trans "Station" %}:</td>
						<td class="value"><a href="{% url station node.station.pk %} ">{{ node.station }}</a></td>
					</tr>
					<tr>
						<td class="title">{% trans "Latitude" %}:</td>
						<td class="value">{{ node.latitude }}</a></td>
					</tr>
					<tr>
						<td class="title">{% trans "Longitude" %}:</td>
						<td class="value">{{ node.longitude }}</a></td>
					</tr>
					<tr>
						<td class="title">{% trans "Elevation" %}:</td>
						<td class="value">{{ node.elevation }}</a></td>
					</tr>
				</table>
				<hr>
				<div id="img_place" class="module"></div>
				<div id="location_text"></div>
		    </div>
		    <div class="one-third column">&nbsp;</div>
		</div>
		<!-- div class="row">
			<ul>
				{% for node in station.nodes.all %}
					<li>{{ node }}</li>
				{% endfor %}
			</ul>
		</div -->
	</div>


<script src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">

  $(document).ready(function(){
    var uuid = "{{ node.name }}";
    var latitude = "{{ node.latitude }}";
    var longitude = "{{ node.longitude }}";

    /*** OBTENER DIRECCION A PARTIR DE (LATITUD,LONGITUD) ***/

    // direccion: 'http://maps.googleapis.com/maps/api/geocode/json?latlng=-34.9129381,-56.175421200000006&sensor=false'
    var geocoder = new google.maps.Geocoder();
    var point = new google.maps.LatLng(latitude,longitude);

    if (geocoder) {
      geocoder.geocode({ 'latLng': point }, function (results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          if (results[0]) {
            var address = results[0].formatted_address;
            $("<p><b>"+address+"</b></p>").appendTo("#location_text");
          } else {
            console.log('No address found');
          }
        } else {
          console.log('Geocoder failed due to: ' + status);
        }      
      });
    }
   
    /*** IMAGEN MAPA ***/

    // imagen: //<img src="https://maps.googleapis.com/maps/api/staticmap?center=-34.9129381,-56.175421200000006&zoom=12&size=400x400&sensor=false&markers=color:blue|label:S|-34.9129381,-56.175421200000006" alt="">
    var img_url = "https://maps.googleapis.com/maps/api/staticmap?center="+latitude+","+longitude+
                  "&zoom=12&size=300x300&sensor=false&markers=color:blue|label:"+uuid+"|"+latitude+","+longitude;
    var img_tag = "<img src="+img_url+" alt='mapa google' class='scale-with-grid'>";
    $(img_tag).appendTo("#img_place");

  });
</script>
{% endblock main_content %}