{% extends "base.html" %}
{% load i18n %}
{% block head_title %} {% trans "Nodes" %} {% endblock head_title %}
{% block main_content %}
<div class="container">
	<div class="row">
		<div class="sixteen columns">
			<h2 class="section_title">
				<span>
					<img class="title_icon" src="{{ MEDIA_URL }}img/icons/node.png" alt="nodes">
					{% trans "Nodes" %}:
				</span>
				<span class="button_place">
					<a class="add_button btn" href="{% url node_add %}">
						<img src="{{ MEDIA_URL }}img/icons/add.png" alt="{% trans "Add Node" %}">
						{% trans "Add Node" %}
					</a>
				</span>
			</h2>
		</div>
		<div class="sixteen columns">
			<table class="list_display">
				<tr>
					<th>&nbsp;</th>
					<th>{% trans "Name" %}:</th>
					<th>{% trans "Station" %}:</th>
					<th>{% trans "Coord" %}:</th>
					<th>{% trans "Elevation" %}:</th>
					<th><small>{% trans "view" %}</small></th>
					<th><small>{% trans "edit" %}</small></th>
				</tr>
			    {% for node in nodes %}
			    	<tr>
			    		<td class="right_arrow">&nbsp;</td>
			    		<td><a href="{% url node node.pk %}">{{ node.name }}</a></td>
			    		<td><a href="{% url station node.station.pk %}">{{ node.station }}</td>
			    		<td>{{ node.coord }}</td>
			    		<td>{{ node.elevation }}</td>
			    		<td class="view">
			    			<a href="{% url node node.pk %}">
			    				<img src="{{ MEDIA_URL }}img/icons/right_arrow_16x16.png" alt="{% trans 'view' %}">
			    			</a>
			    		</td>
			    		<td class="edit">
			    			<a href="{% url node_edit node.pk %}">
			    				<img src="{{ MEDIA_URL }}img/icons/edit_16x16.png" alt="{% trans 'edit' %}">
				    		</a>
				    	</td>
			    	</tr>
			    {% empty %}
			    	<tr class="empty_msg">
			    		<td colspan="7">
			    			<p>{% trans "The list of nodes is empty" %}</p>
			    		</td>
			    	</tr>
			    {% endfor %}
			</table>
			<hr>
			{% include "includes/paginator.html" %}
		</div>
	</div>
</div>

{% endblock main_content %}