{% extends "base.html" %}
{% load i18n %}
{% block head_title %} {% trans "User: " %}{{ usr.username }}{% endblock head_title %}
{% block main_content %}
	<div class="container">
		<div class="row">
			<div class="sixteen columns">
				<h2>User: {{ usr }}</h2>
			</div>
		</div>
		<div class="row">
			<div class="one-third column">&nbsp;</div>
			<div class="one-third column">
				<table class="object_detail">
					<tr>
						<td class="title">{% trans "Username" %}:</td>
						<td class="value">{{ usr.username }}</td>
					</tr>
				</table>
		    </div>
		    <div class="one-third column">&nbsp;</div>
		</div>
		<!-- h3>{% trans "Nodes" %}:</h3>
		<div class="row">
			<ul>
				{% for node in station.nodes.all %}
					<li>{{ node }}</li>
				{% endfor %}
			</ul>
		</div-->
	</div>
{% endblock main_content %}