{% extends "base.html" %}
{% load i18n %}
{% block head_title %} {% trans "Users" %} {% endblock head_title %}
{% block main_content %}
<div class="container">
	<div class="row">
		<div class="sixteen columns">
			<h2 class="section_title">
				<span>
					<img class="title_icon" src="{{ MEDIA_URL }}img/icons/user.png" alt="users">
					{% trans "Users" %}:
				</span>
			</h2>
		</div>
		<div class="sixteen columns">
			<table class="list_display">
				<tr>
					<th>&nbsp;</th>
					<th>{% trans "Name" %}:</th>
					<th><small>{% trans "view" %}</small></th>
					</tr>
			    {% for usr in usrs %}
			    	<tr>
			    		<td class="right_arrow">&nbsp;</td>
			    		<td><a href="{% url user usr.pk %}">{{ usr.username }}</a></td>
			    		<td class="view">
			    			<a href="{% url user usr.pk %}">
			    				<img src="{{ MEDIA_URL }}img/icons/right_arrow_16x16.png" alt="{% trans 'view' %}">
			    			</a>
			    		</td>
			    	</tr>
			    {% empty %}
			    	<tr class="empty_msg">
			    		<td colspan="5">
			    			<p>{% trans "The list of stations is empty" %}</p>
			    		</td>
			    	</tr>
			    {% endfor %}
			</table>
			<hr>
			{% include "includes/paginator.html" %}
		</div>
	</div>
</div>

{% endblock main_content %}