<div id="footer_container" class="container">
	<div class="sixteen columns">
		<p style="text-align: center">
			Version 0.1 / (CC) <a href="http://www.locosporelclima.info/">www.locosporelclima.info</a>
		</p>
	</div>
</div>