{% load i18n %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/chosen/chosen.css" />
<script src="{{ MEDIA_URL }}js/chosen/chosen.jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">$(function() { $("select", ".generic-form").chosen(); }); </script>


<form  action="." method="post" class="generic-form">
    {% csrf_token %}
    {{ form.non_field_errors }}
	
	{{ form }}
	<br>
    <div style="text-align:center">
        <input type="submit" value="{% trans 'Submit' %}" />
    </div>
</form>