{% load i18n tags %}

{% block header %}

	<div id="header_container" class="container">
		<div id="top_header" class="row half-bottom">
			{% block nav %}
				<div class="ten columns">
					{% if user.is_authenticated %}
						<ul class="nav_items half-bottom">
							<li class="nav_item remove-bottom">
								<a class="{% active request '^/$' %}" href="{% url home %}">{% trans "Home" %}</a>
							</li>
							<li class="nav_item remove-bottom">
								<a class="{% active request '^/station/' %}" href="{% url station_list %}">{% trans "Stations" %}</a>
							</li>
							<li class="nav_item remove-bottom">
								<a class="{% active request '^/node/' %}" href="{% url node_list %}">{% trans "Nodes" %}</a>
							</li>
							<li class="nav_item remove-bottom">
								<a class="{% active request '^/sensor/' %}" href="{% url sensor_list %}">{% trans "Sensors" %}</a>
							</li>
							<li class="nav_item remove-bottom">
								<a class="{% active request '^/measure/' %}" href="{% url measure_list %}">{% trans "Measures" %}</a>
							</li>
							<li class="nav_item remove-bottom">
								<a class="{% active request '^/user/' %}" href="{% url user_list %}">{% trans "Users" %}</a>
							</li>
						</ul>
					{% else %}
						&nbsp;
					{% endif %}
				</div>
			{% endblock nav %}

			{% block login %}
				<div id="login" class="three columns offset-by-three">
					<ul class="half-bottom">
					{% if user.is_authenticated %}
						<li class="remove-bottom"><a href="{% url user user.pk %}">{{ user.username }}</a></li>
						<li class="remove-bottom"><a href="{% url logout %}">{% trans "logout" %}</a></li>
					{% else %}
						<li class="remove-bottom"><a alt="login" href="{% url login %}">{% trans "login" %}</a></li>
					{% endif %}
					</ul>
				</div>
			{% endblock login %}
		</div>
		<div class="row remove-bottom">
			{% block logo %}
				<div class="three columns">
					<h1 id="logo" class="remove-bottom"><a href="{% url home %}">Eolo<span id="logo_dot">.</span></a></h1>
				</div>
			{% endblock logo %}
			<hr />
		</div>
	</div>

{% endblock header %}