{% load i18n %}
{% if paginator.page_range|length > 1 %}
	<div class="pagination">
	    <ul>
	        {% if page_obj.has_previous %}
	        	<li><a href="?page={{ page_obj.previous_page_number }}">{% trans "Prev" %}</a></li>
	        {% endif %}
	        {% for pg in paginator.page_range %}
		        {% if page_obj.number == pg %}
		        	<li><a class="selected" href="?page={{ pg }}">{{ pg }}</a></li>
		        {% else %}
		        	<li><a href="?page={{ pg }}">{{ pg }}</a></li>
		        {% endif %}
	        {% endfor %}
	        {% if page_obj.has_next %}
	        	<li><a href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a></li>
	        {% endif %}
	    </ul>
	</div>
{% else %}
		&nbsp; <!-- have only one page to show	-->
{% endif %}