{% extends "base.html" %}
{% load i18n %}
{% block head_title %} {% trans "Station: " %}{{ station.name }}{% endblock head_title %}
{% block main_content %}
	<div class="container">
		<div class="row">
			<div class="sixteen columns">

				<h2 class="section_title">
					<span>
						<img class="title_icon" src="{{ MEDIA_URL }}img/icons/station.png" alt="stations">
						{% trans "Station" %}: <em>{{ station.name }}</em>
					</span>
					<span class="button_place">
						<a  class="edit_button btn" href="{% url station_edit station.pk %}">
							<img src="{{ MEDIA_URL }}img/icons/edit.png" alt="{% trans "Edit Station" %}">
							{% trans "Edit" %}
						</a>
					</span>
				</h2>

			</div>
		</div>
		<div class="row">
			<div class="one-third column">&nbsp;</div>
			<div class="one-third column">
				<table class="object_detail">
					<tr>
						<td class="title">{% trans "Name" %}:</td>
						<td class="value">{{ station.name }}</td>
					</tr>
					<tr>
						<td class="title">{% trans "Mantainer" %}:</td>
						<td class="value"><a href="{% url user station.mantainer.pk %} ">{{ station.mantainer }}</a></td>
					</tr>
				</table>
		    </div>
		    <div class="one-third column">&nbsp;</div>
		</div>
		<div class="row">

			<div class="sixteen columns">
				
				<h3>{% trans "Nodes" %}:</h3>

				    
				<ul>
					{% with  station.nodes.all as nodes %}
						{% for node in nodes %}
							<li>{{ node }}</li>
						{% endfor %}
					{% endwith %}
				</ul>



			</div>
		</div>
	</div>
{% endblock main_content %}