{% extends "base.html" %}
{% load i18n %}
{% block head_title %} {% trans "Stations" %} {% endblock head_title %}
{% block main_content %}
<div class="container">
	<div class="row">
		<div class="sixteen columns">
			<h2 class="section_title">
				<span>
					<img class="title_icon" src="{{ MEDIA_URL }}img/icons/station.png" alt="stations">
					{% trans "Stations" %}:
				</span>
				<span class="button_place">
					<a  class="add_button btn" href="{% url station_add %}">
						<img src="{{ MEDIA_URL }}img/icons/add.png" alt="{% trans "Add Station" %}">
						{% trans "Add Station" %}
					</a>
				</span>
			</h2>
		</div>
		<div class="sixteen columns">
			<table class="list_display">
				<tr>
					<th>&nbsp;</th>
					<th>{% trans "Name" %}:</th>
					<th>{% trans "mantainer" %}:</th>
					<th><small>{% trans "view" %}</small></th>
					<th><small>{% trans "edit" %}</small></th>
				</tr>
			    {% for station in stations %}
			    	<tr>
			    		<td class="right_arrow">&nbsp;</td>
			    		<td><a href="{% url station station.pk %}">{{ station.name }}</a></td>
			    		<td>{{ station.mantainer }}</td>
			    		<td class="view">
			    			<a href="{% url station station.pk %}">
			    				<img src="{{ MEDIA_URL }}img/icons/right_arrow_16x16.png" alt="{% trans 'view' %}">
			    			</a>
			    		</td>
			    		<td class="edit">
			    			<a href="{% url station_edit station.pk %}">
			    				<img src="{{ MEDIA_URL }}img/icons/edit_16x16.png" alt="{% trans 'edit' %}">
				    		</a>
				    	</td>
			    	</tr>
			    {% empty %}
			    	<tr class="empty_msg">
			    		<td colspan="5">
			    			<p>{% trans "The list of stations is empty" %}</p>
			    		</td>
			    	</tr>
			    {% endfor %}
			</table>
			<hr>
			{% include "includes/paginator.html" %}
		</div>
	</div>
</div>

{% endblock main_content %}