<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Eolo - {% block head_title %} title {% endblock head_title %}</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/base.css">
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/skeleton.css">
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/layout.css">
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/styles.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.ico">
	<link rel="apple-touch-icon" href="{{ MEDIA_URL }}img/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ MEDIA_URL }}img/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ MEDIA_URL }}img/apple-touch-icon-114x114.png">
	<!-- JS
	================================================== -->
	<script src="{{ MEDIA_URL }}js/jquery-1.8.3.min.js"></script>
	<script src="{{ MEDIA_URL }}js/tabs.js"></script>

	{% block extra_head %}{% endblock extra_head %}

</head>
<body>
	{% include "includes/header.html" %}
	{% block main_content %}
		main content
	{% endblock main_content %}
	{% include "includes/footer.html" %}
<!-- End Document
================================================== -->
</body>
</html>