{% extends "base.html" %}
{% load i18n %}
{% block head_title %} {% trans "Home" %} {% endblock head_title %}
{% block main_content %}

	<div class="container">
		<div class="row">
			<div class="sixteen columns">
				<h2>Bienvenido a EOLO<span id="logo_dot">.</span></h2>
			</div>
		</div>
		<div class="row">
			<div class="ten columns offset-by-four">
				<div class="icon_wrapper two columns alpha omega">
					<a class="icon" href="{% url station_list %}">
						<img src="{{ MEDIA_URL }}img/icons/station.png" alt="{% trans 'Stations' %}">
						{% trans "Stations" %}
					</a>
				</div>
				<div class="icon_wrapper two columns alpha omega">
					<a class="icon" href="{% url node_list %}">
						<img src="{{ MEDIA_URL }}img/icons/node.png" alt="{% trans 'Nodes' %}">
						{% trans "Nodes" %}
					</a>
				</div>
				<div class="icon_wrapper two columns alpha omega">
					<a class="icon" href="{% url sensor_list %}">
						<img src="{{ MEDIA_URL }}img/icons/sensor.png" alt="{% trans 'Sensor' %}">
						{% trans "Sensors" %}
					</a>
				</div>
				<div class="icon_wrapper two columns alpha omega">
					<a class="icon" href="{% url measure_list %}">
						<img src="{{ MEDIA_URL }}img/icons/measure.png" alt="{% trans 'Measures' %}">
						{% trans "Measures" %}
					</a>
				</div>
				<div class="icon_wrapper two columns alpha omega">
					<a class="icon" href="{% url user_list %}">
						<img src="{{ MEDIA_URL }}img/icons/user.png" alt="{% trans 'Users' %}">
						{% trans "Users" %}
					</a>
				</div>
				
		    </div>
		</div>
		<div class="row">
			&nbsp;
		</div>
	</div>
{% endblock main_content %}